body {
  justify-content: center;
  align-content: center;
  background-color: #f5f5f5;
  font-family: "Inter", sans-serif;
}

.search-container {
  margin: auto;
  width: 50%;
  border: 1px solid #333;
  padding: 10px;
  text-align: center;
}

/* Results grid */
#animals-results {
  position: relative;
  max-width: var(--grid-max-width);
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: grid;
  grid-gap: 20px;
  gap: 20px;

  /* by default use min 200px wide columns auto-fit into width */
  grid-template-columns: minmax(200px, 1fr);
}

@media (min-width: 600px) {
  #animals-results {
    grid-template-columns: repeat(3, 1fr);
    padding: 10px 0;
  }

  /* basic grids */
  #animals-results.fifths {
    grid-template-columns: repeat(5, 1fr);
  }
  #animals-results.quarters {
    grid-template-columns: repeat(4, 1fr);
  }
  #animals-results.thirds {
    grid-template-columns: repeat(3, 1fr);
  }
  #animals-results.halves {
    grid-template-columns: repeat(2, 1fr);
  }
  #animals-results.full {
    grid-template-columns: 1fr;
  }
}

.animal-card {
  border: 1px solid #333;
  padding: 10px;
}

.animal-card-photo {
  display: block;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.animal-card-content {
  padding: 3rem 3rem;
}
